<app-header />

<main>
  <ul id="users">
    @for (user of users; track user.id) {
      <li >
        <app-user [user]="user" [selected]="user.id === selectedUserID" (select)="onSelectUser($event)" />
      </li>
    }
    <!--The legacy way of for before 17 Angular. To use legacy way we need to import NgFor and NgIf from @angular/common-->
<!--    <li *ngFor="let user of users">-->
<!--      <app-user [user]="user" (select)="onSelectUser($event)" />-->
<!--    </li>-->
  </ul>

  <!--The new way after 17 Angular-->
  @if(selectedUser){
    <app-tasks [userId]="selectedUser.id" [name]="selectedUser.name" />
  } @else {
    <p>Select an user to see their tasks!</p>
  }

  <!--The legacy way of if before 17 Angular. To use legacy way we need to import NgFor and NgIf from @angular/common-->
<!--  <app-task *ngIf="selectedUser; else fallback" [name]="selectedUser.name" />-->
<!--  <ng-template #fallback>-->
<!--    <p>Select an user to see their tasks!</p>-->
<!--  </ng-template>-->
</main>
